body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #EEE;
  color: #333;
}

.centeredOuter {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.centeredMiddle {
  display: table-cell;
  vertical-align: middle;
}

#loader {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.hCetrered {
  margin: 2px auto;
  display: table;
}

div.content {
  display: none;
}

div.content h1 {
  text-align: center;
  margin: 0 0 8px 0;
}

div.content h1 img {
  width: 60px;
  height: 60px;
}

ul.nav-tabs {
  border-bottom-color: #999;
}

a.nav-link {
  border-color: #999 !important;
}

li.active a.nav-link {
  border-bottom-color: transparent !important;
}

li.disabled a.nav-link {
  color: #AAA;
}

div.tab-content {
  border: 1px solid #999;
  border-top-width: 0;
  background-color: #FFF;
  padding-top: 1px;
  margin: 0 !important;
}

div.tab-pane {
  margin: 5px 10px;
}

div.tab-pane a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dashed #8AD;
}

/* Tab "Filter" { */

#taskColumn, #filterColumn {
  display: inline-block;
  vertical-align: top;
}

#taskColumn {
  padding-right: 8px;
}

#filterColumn {
  padding-left: 8px;
  border-left: 1px dotted #000;
}

#filterTasksDisabled {
  padding-left: 14px;
  display: none !important;
}
legend.i18n_options_filter_tasks_disabled {
  font-size: 16px;
}

div.separated {
  margin-bottom: 5px;
  border-bottom: 1px dashed #888;
}

/* } Tab "Filter" */
/* Tab "Settings" { */

input[type='number'] {
  /* line-height: 24px;
  margin: 0; */
  width: 100px;
  display: inline-block;
}

div.form-check label {
  cursor: pointer;
  font-weight: normal;
}

div.buttons {
  margin-top: 5px;
}

#useMessageSound, #useTaskSound, #buttonRestoreDefaults {
  margin-left: 10px;
}

#taskSound, #messageSound, fieldset.development {
  display: none;
}

/* } Tab "Settings" */
/* Tab "About" { */

h3.first {
  margin-top: 0;
}

/* } Tab "About" */
