body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #EEE;
  color: #333;
}

div.content {
  display: table;
  margin: 2px auto;
}

ul.nav-tabs {
  border-bottom-color: #999;
}

a.nav-link {
  border-color: #999 !important;
}

li.active a.nav-link {
  border-bottom-color: transparent !important;
}

li.disabled a.nav-link {
  color: #AAA;
}

div.tab-content {
  border: 1px solid #999;
  border-top-width: 0;
  background-color: #FFF;
  padding-top: 1px;
  margin: 0 !important;
}

div.tab-pane {
  margin: 5px 10px;
}

h3.first {
  margin-top: 0;
}
